{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="row text-center">
        <div class="col-12">
            <div class="col-12">
                <a class='btn btn-primary' href="{% url 'catalog:product_create' %}">Добавить продукт</a>
            </div>
        </div>

        {% for object in object_list %}
            <div class="col-3 mt-5">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top"
                             src="{{ object.preview|my_media }}"
                             alt="Card image cap">
                        <h3 class="card-title pricing-card-title">{{ object.price }} руб</h3>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{ object.description|slice:100 }}</li>
                        </ul>
                        <div class="btn-group h5 mb-auto">
                            <a class="p-2 btn btn-outline-success "
                               href="{% url 'catalog:product_view' object.pk %}">Обзор</a>
                            <a class="p-2 btn btn-outline-primary " href="{% url 'catalog:product_edit' object.pk %}">Редактирование</a>
                            {% if perms.catalog_delete_product %}
                                <a class="p-2 btn btn-outline-danger "
                                   href="{% url 'catalog:product_delete' object.pk %}">Удаление</a>
                            {% endif %}
                        </div>
                        <div class="mt-1">
                            <button type="submit" href="#" class="btn btn-outline-secondary">Купить</button>
                        </div>
                        {% for version in object.version_set.all %}
                            {% if version.version_sign %}
                                <div class="card-footer mt-1">
                                    Номер активной версий: {{ version.version_number }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}